@import "~bulma/sass/utilities/initial-variables"
@import "./utils.sass"
@import "./variables.sass"


// *********************
// Layout 
// *********************

.main-body 
  min-height: calc(100vh - 642px)

.columns 
  margin-left: 0 !important
  margin-right: 0 !important

.home.hero 
  .hero-body 
    padding-bottom: 0px !important
    padding-top: 2.5rem !important
    @media (max-width:1027px)
      padding-bottom: .5rem
      padding-top: 1.5rem
    .container 
      background-size: inherit
      background-position: right
      background-repeat: no-repeat
      height: 420px
      transform: translateX(0px)
      background-position-y: 0px
      @media (min-width: 767px) and (max-width: 1023px)
          height: 350px
          background-image: none !important
          padding-top: 2em
      @media (max-width:767px)
          background-image: none !important
          height: 340px
      .hero-text-container
        @media (max-width:767px)
          padding: 0px
  h1.title 
    font-family: $family-serif
    color: $white
    font-weight: 700
    font-size: 3rem
    line-height: 3.5rem
    @media (max-width: 1215px)
      font-size: 2.8rem
      line-height: 3rem
    @media (max-width: 767px)
      font-size: 2rem
      line-height: 2rem
  h2.subtitle 
    font-family: $family-primary
    color: $white

.full-height
  height: 100%
.hero-bg
  background: url('/img/shapes-bg-home.png')
  background-size: contain
  background-position: right
  background-repeat: no-repeat
  @media (max-width: 1023px)
    background: none !important

.columns
  .column
    .column-content
      border-radius: 5px
      background-position: center
      background-repeat: no-repeat
      background-size: 100%
      min-height: 240px
      transition: all .22s ease-in
      &:hover
        background-size: 110%
      @media (max-width: 1220px)
        background-color: #FFF !important

.div-center 
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,0.7)
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  margin: auto
  max-width: 100%
  max-height: 100%
  overflow: auto
  padding: 1em 2em
  display: table
    
.message-center 
  width: 100%
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  margin: auto
  overflow: auto
  padding: 2em 2em
  display: table
  text-align: center

.background-hero
  background: $dark-blue !important

// *********************
// Components 
// *********************

a.card-title
  font-family: $family-serif
  margin-top: 16px

section.background-divider
  height: 400px
  background-image: linear-gradient(rgba(51, 62, 72, 0.5), rgba(51, 62, 72, 0.5)), url('/img/workshop.jpg')
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  background-attachment: fixed
  @media (max-width: 767px)
    background-attachment: initial !important
  @media (hover: none)
    background-attachment: initial !important

.featured-image
  min-height: 400px
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  border-radius: 4px

.banner-image
  min-height: 300px
  background-color: $white !important
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  @media (max-width: 767px)
    background-color: $white !important

.work-banner-image
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  margin: 32px 0
  @media (max-width: 767px)
    background-attachment: initial !important
  @media (hover: none)
    background-attachment: initial !important

p.excerpt 
  display: -webkit-box
  -webkit-line-clamp: 3
  -webkit-box-orient: vertical
  overflow: hidden

footer
  .container
    padding-bottom: 32px
    padding-top: 32px

.footer-bg
  background-image: url('/img/footer-shapes-bg.png')
  background-position: left
  background-repeat: no-repeat
  background-size: contain
  min-height: 350px
  @media(max-width:1023px)
    background-image: none
  @media(max-width: 768px)
    min-height: 300px  

footer.footer
  padding: 3rem 0rem 0rem
  background-color: transparent

ul.footer-links
  li
    margin-top: 8px
    text-transform: uppercase
    font-size: 14px
    a
      color: $grey-lightest
      &:hover
        color: $white
    &:last-child
      margin-bottom: 16px

ul.contact-links
  li
    margin-top: 8px
    font-size: 14px
    margin-left: 8px
    a
      margin-left: 12px
      vertical-align: top
      color: $dark-blue
      &:hover
        color: darken($dark-blue, 10%)
    &:last-child
      margin-bottom: 16px



// *********************
// Typography 
// *********************

h1, h2, h3, h4, h5, h6 
  font-family: $family-serif

h1.landing-title
  font-family: $family-serif
  padding-top: 32px
  font-size: 3rem !important
  margin-bottom: 0px !important
  color: $dark-blue !important
  @media (max-width: 767px)
    color: $dark-blue !important
    padding-left: 0px !important

h2.landing-subtitle
  font-family: $family-sans-serif
  font-size: 1.25rem !important
  font-weight: normal !important
  margin-top: 0px !important
  color: $dark-grey !important
  @media (max-width: 767px)
    color: $dark-grey !important
    padding-left: 0px !important

.content blockquote
  border-left: 5px solid $dark-blue !important
  padding: 2em
  border-radius: 4px
  font-size: 1.25em

.content .main a, .foo  a
  border-bottom: 1px solid $dark-blue
  box-shadow: inset 0 -1px 0 $dark-blue
  transition: all .25s cubic-bezier(.32,.75,.25,1)
  padding: 2px 2px 0 2px
  color: $dark-blue
  &:hover
    color: $orange
    border-bottom: 1px solid $orange
    box-shadow: inset 0 -1px 0 $orange
code
  border-radius: 4px

figcaption
  font-size: 12px
  font-style: italic
  margin-top: 8px 

.content .callout
  background-color: #FAFAFA
  border: 1px solid #EEEEEE
  border-radius: 6px
  padding: 16px 24px
  font-size: 20px
  font-weight: 500

// *********************
// Navigation 
// *********************

.navbar-brand, .navbar-item
  font-family: $family-serif

.navbar-item 
  color: $primary
  text-transform: uppercase
  &.is-active
    text-decoration: underline
  &:hover
    background: none !important

@media screen and (min-width: 1023px)
  .navbar > .container .navbar-brand, .container > .navbar .navbar-brand
    margin-left: 0px !important
@media screen and (max-width: 1023px)
  .nav-logo
    padding-left: 12px
  #navMenu.is-primary
    background: darken($dark-blue, 5%) !important
    .navbar-item
      color: $white !important


@import "~bulma"


